#topic {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 4px auto;
}
#explanation {
	text-align: end;
	font-size: 1em;
}
#result-container {
	position: relative;
}
table {
	margin: 0 auto;
}
#addRowForm {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	text-align: center;
	display: flex;
	display: block;
	/* flex-direction: column; */
}

#result {
	display: block; /* テキストエリアを表示 */
	resize: both; /* テキストエリアのリサイズを許可 */
	overflow: auto; /* テキストエリアのスクロールバーを表示 */
}
#addRowButton {
	margin: 8px auto;
	width: 100px;
	text-align: center;
	display: block;
}
#saveButton {
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-weight: bold;
	font-size: 1em;
	color: #ffff;
	border: transparent;
	background: #00c1fe;
	border-radius: 5%;
	text-align: center;
	display: block; /* ボタンを表示 */
	margin: 5px auto;
}
