@charset "UTF-8";
@media screen and (max-width: 776px) {
  h2 {
    font-size: 1.15em;
  }
  header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  header .logos {
    position: relative;
    padding-bottom: 40px;
  }
  header .logos #hpname {
    font-size: 1.5em;
    padding-top: 2vh;
    text-align: center;
  }
  header .logos #toplogo {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 64px;
    width: 100px;
  }
  header .logos #home {
    padding-top: 3vh;
  }
  header .logos #home i.las.la-home {
    font-size: 1.25em;
  }
  header .menu_bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* グリッドアイテム間の間隔を調整 */
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  header .menu_bar #main1 {
    display: none;
  }
  header .menu_bar li {
    font-size: 1.25em;
  }
  header .menu_bar button.scroll-button {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    position: relative;
    border-bottom: none;
    color: black;
    transition: 0.3s ease-in-out;
  }
  header .menu_bar button.scroll-button::before, header .menu_bar button.scroll-button span::before, header .menu_bar button.scroll-button span::after {
    width: 0;
  }
  header .menu_bar button.scroll-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: 0;
    border-bottom: 5px double #459BDB; /* 太さやスタイルを調整 */
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
  }
  header .menu_bar button.scroll-button:hover::after {
    width: 100%;
    left: 0;
  }
  header .menu_bar button.scroll-button:nth-child(1) {
    display: none;
  }
  .wrapper {
    padding-right: 8vw;
    padding-left: 8vw;
  }
  .wrapper .maincontents h2 {
    border-bottom: 5px double #459BDB;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 128px;
  }
  .wrapper .maincontents .main1 #th, .wrapper .maincontents .main1 .td1, .wrapper .maincontents .main1 .td2, .wrapper .maincontents .main1 tr, .wrapper .maincontents .main2 #th, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main2 tr, .wrapper .maincontents .main3 #th, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main3 tr, .wrapper .maincontents .main4 #th, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main4 tr, .wrapper .maincontents .main5 #th, .wrapper .maincontents .main5 .td1, .wrapper .maincontents .main5 .td2, .wrapper .maincontents .main5 tr {
    font-size: 1em;
  }
  .wrapper .maincontents .main1 .td1, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main5 .td1 {
    width: 100px;
    line-height: 28px;
  }
  .wrapper .maincontents .main1 .td2, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main5 .td2 {
    line-height: 28px;
    padding-left: 3vh;
  }
  .wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(1) {
    line-height: 60px;
    width: 100px;
  }
  .wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(2) {
    text-align: start;
    vertical-align: middle;
    white-space: normal;
  }
  .wrapper .maincontents .main1 .box1, .wrapper .maincontents .main1 .box2, .wrapper .maincontents .main1 .box5, .wrapper .maincontents .main2 .box1, .wrapper .maincontents .main2 .box2, .wrapper .maincontents .main2 .box5, .wrapper .maincontents .main5 .box1, .wrapper .maincontents .main5 .box2, .wrapper .maincontents .main5 .box5 {
    width: 100%;
    max-height: 629px;
    scrollbar-width: none;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar, .wrapper .maincontents .main1 .box2::-webkit-scrollbar, .wrapper .maincontents .main1 .box5::-webkit-scrollbar, .wrapper .maincontents .main2 .box1::-webkit-scrollbar, .wrapper .maincontents .main2 .box2::-webkit-scrollbar, .wrapper .maincontents .main2 .box5::-webkit-scrollbar, .wrapper .maincontents .main5 .box1::-webkit-scrollbar, .wrapper .maincontents .main5 .box2::-webkit-scrollbar, .wrapper .maincontents .main5 .box5::-webkit-scrollbar {
    width: 0;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main1 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main1 .box5::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box5::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box5::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main1 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main1 .box5::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box5::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box5::-webkit-scrollbar-track {
    background: transparent;
  }
  .wrapper .maincontents .main3 .box3, .wrapper .maincontents .main3 .box4, .wrapper .maincontents .main4 .box3, .wrapper .maincontents .main4 .box4 {
    width: 100%;
    max-height: 329px;
    scrollbar-width: none;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar, .wrapper .maincontents .main3 .box4::-webkit-scrollbar, .wrapper .maincontents .main4 .box3::-webkit-scrollbar, .wrapper .maincontents .main4 .box4::-webkit-scrollbar {
    width: 0;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar-thumb, .wrapper .maincontents .main3 .box4::-webkit-scrollbar-thumb, .wrapper .maincontents .main4 .box3::-webkit-scrollbar-thumb, .wrapper .maincontents .main4 .box4::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar-track, .wrapper .maincontents .main3 .box4::-webkit-scrollbar-track, .wrapper .maincontents .main4 .box3::-webkit-scrollbar-track, .wrapper .maincontents .main4 .box4::-webkit-scrollbar-track {
    background: transparent;
  }
  .wrapper .maincontents .main2 .applybtn {
    justify-content: space-around;
    flex-direction: column;
    margin: 16px auto;
  }
  .wrapper .maincontents .main2 .applybtn .button {
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  .wrapper .maincontents .main2 .applybtn span#caution {
    text-align: center;
    position: unset;
  }
  footer .content {
    height: unset;
  }
  footer .content #items {
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-around;
  }
  footer .content #items img.btmlogo {
    height: 56px;
    width: 76px;
    padding-top: 12px;
  }
  footer .content #items p {
    font-size: 0.8em;
    padding-top: 16px;
  }
  footer .content #items img#pmark {
    padding-top: 6px;
  }
  footer .content #kanri {
    display: none;
  }
  footer p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 515px) {
  h2 {
    font-size: 1.15em;
  }
  header {
    border-bottom: none;
  }
  header .logos {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 0px;
  }
  header .logos h1 {
    font-size: 1.5em;
    padding-top: 2vh;
    order: 3;
  }
  header .logos #toplogo {
    height: 64px;
    width: 100px;
  }
  header .logos #home {
    padding-top: 3vh;
  }
  header .logos #home i.las.la-home {
    font-size: 1.25em;
  }
  header .menu_bar {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* グリッドアイテム間の間隔を調整 */
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  header .menu_bar #main1 {
    display: none;
  }
  header .menu_bar li {
    font-size: 1em;
    font-weight: bold;
  }
  header .menu_bar button.scroll-button {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    position: relative;
    border-bottom: none;
    color: black;
    transition: 0.3s ease-in-out;
  }
  header .menu_bar button.scroll-button::before, header .menu_bar button.scroll-button span::before, header .menu_bar button.scroll-button span::after {
    width: 0;
  }
  header .menu_bar button.scroll-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: 0;
    border-bottom: 5px double #459BDB; /* 太さやスタイルを調整 */
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
  }
  header .menu_bar button.scroll-button:hover::after {
    width: 100%;
    left: 0;
  }
  header .menu_bar button.scroll-button:nth-child(1) {
    display: none;
  }
  .wrapper {
    padding-right: 10vw;
    padding-left: 10vw;
  }
  .wrapper .maincontents h2 {
    border-bottom: 5px double #459BDB;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 128px;
  }
  .wrapper .maincontents .main1 #th, .wrapper .maincontents .main1 .td1, .wrapper .maincontents .main1 .td2, .wrapper .maincontents .main1 tr, .wrapper .maincontents .main2 #th, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main2 tr, .wrapper .maincontents .main3 #th, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main3 tr, .wrapper .maincontents .main4 #th, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main4 tr, .wrapper .maincontents .main5 #th, .wrapper .maincontents .main5 .td1, .wrapper .maincontents .main5 .td2, .wrapper .maincontents .main5 tr {
    font-size: 1em;
  }
  .wrapper .maincontents .main1 .td1, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main5 .td1 {
    width: 60px;
    line-height: 28px;
  }
  .wrapper .maincontents .main1 .td2, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main5 .td2 {
    line-height: 28px;
    padding-left: 3vh;
  }
  .wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(1),
  .wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(1),
  .wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(1) {
    line-height: 60px;
    width: 60px;
  }
  .wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(2),
  .wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(2),
  .wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(2) {
    text-align: start;
    vertical-align: middle;
    white-space: normal;
  }
  .wrapper .maincontents .main1 .box1, .wrapper .maincontents .main1 .box2, .wrapper .maincontents .main1 .box5, .wrapper .maincontents .main2 .box1, .wrapper .maincontents .main2 .box2, .wrapper .maincontents .main2 .box5, .wrapper .maincontents .main5 .box1, .wrapper .maincontents .main5 .box2, .wrapper .maincontents .main5 .box5 {
    width: 100%;
    max-height: 629px;
    scrollbar-width: none;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar, .wrapper .maincontents .main1 .box2::-webkit-scrollbar, .wrapper .maincontents .main1 .box5::-webkit-scrollbar, .wrapper .maincontents .main2 .box1::-webkit-scrollbar, .wrapper .maincontents .main2 .box2::-webkit-scrollbar, .wrapper .maincontents .main2 .box5::-webkit-scrollbar, .wrapper .maincontents .main5 .box1::-webkit-scrollbar, .wrapper .maincontents .main5 .box2::-webkit-scrollbar, .wrapper .maincontents .main5 .box5::-webkit-scrollbar {
    width: 0;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main1 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main1 .box5::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main2 .box5::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box1::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box2::-webkit-scrollbar-thumb, .wrapper .maincontents .main5 .box5::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .wrapper .maincontents .main1 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main1 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main1 .box5::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main2 .box5::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box1::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box2::-webkit-scrollbar-track, .wrapper .maincontents .main5 .box5::-webkit-scrollbar-track {
    background: transparent;
  }
  .wrapper .maincontents .main3 .box3, .wrapper .maincontents .main3 .box4, .wrapper .maincontents .main4 .box3, .wrapper .maincontents .main4 .box4 {
    width: 100%;
    max-height: 329px;
    scrollbar-width: none;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar, .wrapper .maincontents .main3 .box4::-webkit-scrollbar, .wrapper .maincontents .main4 .box3::-webkit-scrollbar, .wrapper .maincontents .main4 .box4::-webkit-scrollbar {
    width: 0;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar-thumb, .wrapper .maincontents .main3 .box4::-webkit-scrollbar-thumb, .wrapper .maincontents .main4 .box3::-webkit-scrollbar-thumb, .wrapper .maincontents .main4 .box4::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .wrapper .maincontents .main3 .box3::-webkit-scrollbar-track, .wrapper .maincontents .main3 .box4::-webkit-scrollbar-track, .wrapper .maincontents .main4 .box3::-webkit-scrollbar-track, .wrapper .maincontents .main4 .box4::-webkit-scrollbar-track {
    background: transparent;
  }
  .wrapper .maincontents .main2 .applybtn {
    justify-content: space-around;
    flex-direction: column;
    margin: 16px auto;
  }
  .wrapper .maincontents .main2 .applybtn .button {
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  footer .content {
    height: unset;
  }
  footer .content #items {
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-around;
  }
  footer .content #items img.btmlogo {
    height: 56px;
    width: 72px;
    padding-top: 12px;
  }
  footer .content #items p {
    font-size: 0.6em;
    padding-top: 20px;
  }
  footer .content #items img#pmark {
    padding-top: 5px;
  }
  footer .content #kanri {
    display: none;
  }
  footer p {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=resp.css.map */