@charset "UTF-8";
* {
  font-family: "Noto Sans Gothic", sans-serif;
}

h2 {
  font-size: 22px;
}

footer p {
  font-size: 16px;
}

header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  border-bottom: 1px solid;
  padding-left: 15vw;
  padding-right: 15vw;
}
header .logos {
  position: relative;
  padding-bottom: 16px;
}
header .logos #toplogo {
  position: absolute;
  height: 80px;
  width: 120px;
}
header .logos #hpname {
  font-size: 2em;
  font-weight: bold;
  padding-top: 4vh;
  text-align: center;
  margin: 0 auto;
}
header .logos #home {
  padding-top: 6vh;
}
header .logos #home i.las.la-home {
  font-size: 1.25em;
}
header .menu_bar {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}
header .menu_bar li {
  display: block;
  cursor: pointer;
  font-size: 1.25em;
}
header .menu_bar button.scroll-button {
  padding-right: 8px;
  padding-left: 8px;
  background-color: transparent;
  position: relative;
  border-bottom: 3px solid transparent;
}
header .menu_bar button.scroll-button:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #459bdb;
  position: absolute;
  top: -1px;
  right: 0;
  transition: 0.1s ease-in-out 0.1s;
}
header .menu_bar button.scroll-button:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #459bdb;
  position: absolute;
  bottom: 0;
  right: -1px;
  transition: 0.1s ease-in-out 0.2s;
}
header .menu_bar button.scroll-button span:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #459bdb;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: 0.1s ease-in-out 0.3s;
}
header .menu_bar button.scroll-button span:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #459bdb;
  position: absolute;
  top: 0;
  left: -1px;
  transition: 0.1s ease-in-out;
}
header .menu_bar button.scroll-button:hover span:after {
  height: 0;
}
header .menu_bar button.scroll-button:hover:before {
  width: 0;
}
header .menu_bar button.scroll-button:hover:after {
  height: 0;
}
header .menu_bar button.scroll-button:hover span:before {
  height: 5px;
}

.wrapper {
  padding-right: 15vw;
  padding-left: 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper .maincontents {
  display: flex;
  flex-direction: column;
}
.wrapper .maincontents h2 {
  border-bottom: 5px double #459BDB;
  display: inline-block;
  width: 156px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
  white-space: nowrap;
  font-weight: 600;
}
.wrapper .maincontents .figtop {
  position: fixed;
  bottom: 88px;
  right: 0px;
  border-radius: 10%;
  border: transparent;
  background-color: black;
  cursor: pointer;
  opacity: 0.5;
  padding: 15px 20px;
  border-radius: 30%;
  z-index: 1;
  font-size: 16px;
}
.wrapper .maincontents .figtop:hover {
  opacity: 1;
}
.wrapper .maincontents .topbtn {
  display: none;
}
.wrapper .maincontents .main1,
.wrapper .maincontents .main2,
.wrapper .maincontents .main3,
.wrapper .maincontents .main4,
.wrapper .maincontents .main5 {
  position: relative;
}
.wrapper .maincontents .main1 .box1, .wrapper .maincontents .main1 .box2,
.wrapper .maincontents .main1 .box5,
.wrapper .maincontents .main2 .box1,
.wrapper .maincontents .main2 .box2,
.wrapper .maincontents .main2 .box5,
.wrapper .maincontents .main3 .box1,
.wrapper .maincontents .main3 .box2,
.wrapper .maincontents .main3 .box5,
.wrapper .maincontents .main4 .box1,
.wrapper .maincontents .main4 .box2,
.wrapper .maincontents .main4 .box5,
.wrapper .maincontents .main5 .box1,
.wrapper .maincontents .main5 .box2,
.wrapper .maincontents .main5 .box5 {
  width: 100%;
  max-height: 389px;
  overflow-y: scroll;
  /* 奇数行 */
  /* 偶数行 */
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(odd), .wrapper .maincontents .main1 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box1 #csvTable5 tr:nth-child(odd), .wrapper .maincontents .main1 .box2 #csvTable1 tr:nth-child(odd), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(odd) {
  background-color: #edf3fc; /* 奇数行の背景色 */
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(even), .wrapper .maincontents .main1 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box1 #csvTable5 tr:nth-child(even), .wrapper .maincontents .main1 .box2 #csvTable1 tr:nth-child(even), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(even) {
  background-color: #ffffff; /* 偶数行の背景色 */
}
.wrapper .maincontents .main1 .box1:hover, .wrapper .maincontents .main1 .box2:hover,
.wrapper .maincontents .main1 .box5:hover,
.wrapper .maincontents .main2 .box1:hover,
.wrapper .maincontents .main2 .box2:hover,
.wrapper .maincontents .main2 .box5:hover,
.wrapper .maincontents .main3 .box1:hover,
.wrapper .maincontents .main3 .box2:hover,
.wrapper .maincontents .main3 .box5:hover,
.wrapper .maincontents .main4 .box1:hover,
.wrapper .maincontents .main4 .box2:hover,
.wrapper .maincontents .main4 .box5:hover,
.wrapper .maincontents .main5 .box1:hover,
.wrapper .maincontents .main5 .box2:hover,
.wrapper .maincontents .main5 .box5:hover {
  box-shadow: 0 10px 8px 0 #b2d2ea;
}
.wrapper .maincontents .main1 .box3,
.wrapper .maincontents .main1 .box4,
.wrapper .maincontents .main2 .box3,
.wrapper .maincontents .main2 .box4,
.wrapper .maincontents .main3 .box3,
.wrapper .maincontents .main3 .box4,
.wrapper .maincontents .main4 .box3,
.wrapper .maincontents .main4 .box4,
.wrapper .maincontents .main5 .box3,
.wrapper .maincontents .main5 .box4 {
  width: 100%;
  max-height: 209px;
  overflow-y: scroll;
  /* 奇数行 */
  /* 偶数行 */
}
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(odd), .wrapper .maincontents .main1 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main1 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main2 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main2 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main3 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main3 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main4 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main4 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main5 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main5 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(odd) {
  background-color: #edf3fc; /* 奇数行の背景色 */
}
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(even), .wrapper .maincontents .main1 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main1 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main2 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main2 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main3 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main3 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main4 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main4 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main5 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main5 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(even) {
  background-color: #ffffff; /* 偶数行の背景色 */
}
.wrapper .maincontents .main1 .box3:hover,
.wrapper .maincontents .main1 .box4:hover,
.wrapper .maincontents .main2 .box3:hover,
.wrapper .maincontents .main2 .box4:hover,
.wrapper .maincontents .main3 .box3:hover,
.wrapper .maincontents .main3 .box4:hover,
.wrapper .maincontents .main4 .box3:hover,
.wrapper .maincontents .main4 .box4:hover,
.wrapper .maincontents .main5 .box3:hover,
.wrapper .maincontents .main5 .box4:hover {
  box-shadow: 0 10px 8px 0 #b2d2ea;
}
.wrapper .maincontents .main1,
.wrapper .maincontents .main3,
.wrapper .maincontents .main4,
.wrapper .maincontents .main5 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .maincontents .main2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .maincontents .main2 .applybtn {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.wrapper .maincontents .main2 .applybtn a {
  text-decoration: none;
}
.wrapper .maincontents .main2 .applybtn .button {
  text-align: center;
  display: inline-block;
  font-size: 1.25em;
  height: 48px;
  width: 120px;
  padding-top: 12px;
  transition: transform 0.3s, background 0.3s, color 0.3s;
  color: whitesmoke;
  background: linear-gradient(to bottom, #a8e1f2, #459BDB);
  margin-right: 1rem;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}
.wrapper .maincontents .main2 .applybtn .button:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.wrapper .maincontents .main2 .applybtn span#caution {
  position: relative;
  top: 35px;
  font-size: 0.8em;
}
.wrapper .maincontents .main1 #th, .wrapper .maincontents .main2 #th, .wrapper .maincontents .main3 #th, .wrapper .maincontents .main4 #th, .wrapper .maincontents .main5 #th {
  display: flex;
  width: 100%;
  top: 0;
  background: #dbe8ec;
  border-bottom: solid 1px white;
  position: sticky;
}
.wrapper .maincontents .main1 .td1, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main5 .td1 {
  width: 136px;
  text-align: center;
  line-height: 28px;
  border-right: 1px solid white;
}
.wrapper .maincontents .main1 .td2, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main5 .td2 {
  line-height: 28px;
  padding-left: 4vw;
}
.wrapper .maincontents .main1 .box1 #csvTable1, .wrapper .maincontents .main1 .box2 #csvTable2,
.wrapper .maincontents .main1 .box3 #csvTable3, .wrapper .maincontents .main1 .box4 #csvTable4,
.wrapper .maincontents .main1 .box5 #csvTable5, .wrapper .maincontents .main2 .box1 #csvTable1, .wrapper .maincontents .main2 .box2 #csvTable2,
.wrapper .maincontents .main2 .box3 #csvTable3, .wrapper .maincontents .main2 .box4 #csvTable4,
.wrapper .maincontents .main2 .box5 #csvTable5, .wrapper .maincontents .main3 .box1 #csvTable1, .wrapper .maincontents .main3 .box2 #csvTable2,
.wrapper .maincontents .main3 .box3 #csvTable3, .wrapper .maincontents .main3 .box4 #csvTable4,
.wrapper .maincontents .main3 .box5 #csvTable5, .wrapper .maincontents .main4 .box1 #csvTable1, .wrapper .maincontents .main4 .box2 #csvTable2,
.wrapper .maincontents .main4 .box3 #csvTable3, .wrapper .maincontents .main4 .box4 #csvTable4,
.wrapper .maincontents .main4 .box5 #csvTable5, .wrapper .maincontents .main5 .box1 #csvTable1, .wrapper .maincontents .main5 .box2 #csvTable2,
.wrapper .maincontents .main5 .box3 #csvTable3, .wrapper .maincontents .main5 .box4 #csvTable4,
.wrapper .maincontents .main5 .box5 #csvTable5 {
  width: 100%;
  /* セルの境界線を非表示 */
  border-collapse: collapse;
}
.wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(1) {
  /* テーブル内の縦線 */
  text-align: center;
  width: 136px;
  line-height: 36px;
}
.wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(2), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(2) {
  padding-left: 3vw;
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(odd) td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(odd) td:nth-child(1),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(odd) td:nth-child(1) {
  border-right: 1px solid #ffffff;
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(even) td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(even) td:nth-child(1),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(even) td:nth-child(1) {
  border-right: 1px solid #edf3fc;
}

footer {
  padding-top: 4px;
}
footer .content {
  height: 64px;
  background-color: #459BDB;
  position: relative;
}
footer .content #items {
  padding-left: 15vw;
  padding-right: 15vw;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
footer .content #items p {
  padding-top: 8px;
}
footer .content #items img.btmlogo {
  height: 64px;
  width: 100px;
}
footer .content #items img#pmark {
  padding-top: 4px;
}
footer .content #kanri {
  position: absolute;
  bottom: 16px;
  right: 8px;
  color: white;
}
footer p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */