@charset "UTF-8";
* {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 22px;
}

footer p {
  font-size: 16px;
}

.wrapper {
  padding-right: 15vw;
  padding-left: 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  transform: translateY(0deg);
}
.wrapper header h1 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 4vh;
}
.wrapper header .logos {
  display: flex;
  justify-content: space-between;
}
.wrapper header .logos #toplogo {
  height: 100px;
  width: 150px;
}
.wrapper header .menu_bar ul {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}
.wrapper header .menu_bar ul li {
  display: block;
}
.wrapper .maincontents {
  display: flex;
  flex-direction: column;
}
.wrapper .maincontents h2 {
  border-bottom: 4px solid;
  display: inline-block;
  width: fit-content;
  margin: 1em auto;
  margin-top: 20px;
}
.wrapper .maincontents .main1,
.wrapper .maincontents .main2,
.wrapper .maincontents .main3,
.wrapper .maincontents .main4,
.wrapper .maincontents .main5 {
  position: relative;
}
.wrapper .maincontents .main1 .box1, .wrapper .maincontents .main1 .box2,
.wrapper .maincontents .main1 .box5,
.wrapper .maincontents .main2 .box1,
.wrapper .maincontents .main2 .box2,
.wrapper .maincontents .main2 .box5,
.wrapper .maincontents .main3 .box1,
.wrapper .maincontents .main3 .box2,
.wrapper .maincontents .main3 .box5,
.wrapper .maincontents .main4 .box1,
.wrapper .maincontents .main4 .box2,
.wrapper .maincontents .main4 .box5,
.wrapper .maincontents .main5 .box1,
.wrapper .maincontents .main5 .box2,
.wrapper .maincontents .main5 .box5 {
  height: 240px;
  overflow-y: scroll;
  /* 奇数行 */
  /* 偶数行 */
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(odd), .wrapper .maincontents .main1 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box1 #csvTable5 tr:nth-child(odd), .wrapper .maincontents .main1 .box2 #csvTable1 tr:nth-child(odd), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box1 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box2 #csvTable5 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable1 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable2 tr:nth-child(odd),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(odd) {
  background-color: #edf3fc; /* 奇数行の背景色 */
}
.wrapper .maincontents .main1 .box1 #csvTable1 tr:nth-child(even), .wrapper .maincontents .main1 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box1 #csvTable5 tr:nth-child(even), .wrapper .maincontents .main1 .box2 #csvTable1 tr:nth-child(even), .wrapper .maincontents .main1 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main1 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main2 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main3 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main4 .box5 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box1 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box2 #csvTable5 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable1 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable2 tr:nth-child(even),
.wrapper .maincontents .main5 .box5 #csvTable5 tr:nth-child(even) {
  background-color: #ffffff; /* 偶数行の背景色 */
}
.wrapper .maincontents .main1 .box3,
.wrapper .maincontents .main1 .box4,
.wrapper .maincontents .main2 .box3,
.wrapper .maincontents .main2 .box4,
.wrapper .maincontents .main3 .box3,
.wrapper .maincontents .main3 .box4,
.wrapper .maincontents .main4 .box3,
.wrapper .maincontents .main4 .box4,
.wrapper .maincontents .main5 .box3,
.wrapper .maincontents .main5 .box4 {
  height: 120px;
  overflow-y: scroll;
  /* 奇数行 */
  /* 偶数行 */
}
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(odd), .wrapper .maincontents .main1 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main1 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main2 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main2 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main3 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main3 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main4 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main4 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main5 .box3 #csvTable4 tr:nth-child(odd),
.wrapper .maincontents .main5 .box4 #csvTable3 tr:nth-child(odd),
.wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(odd) {
  background-color: #edf3fc; /* 奇数行の背景色 */
}
.wrapper .maincontents .main1 .box3 #csvTable3 tr:nth-child(even), .wrapper .maincontents .main1 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main1 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main1 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main2 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main2 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main2 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main2 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main3 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main3 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main3 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main3 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main4 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main4 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main4 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main4 .box4 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main5 .box3 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main5 .box3 #csvTable4 tr:nth-child(even),
.wrapper .maincontents .main5 .box4 #csvTable3 tr:nth-child(even),
.wrapper .maincontents .main5 .box4 #csvTable4 tr:nth-child(even) {
  background-color: #ffffff; /* 偶数行の背景色 */
}
.wrapper .maincontents .main1,
.wrapper .maincontents .main3,
.wrapper .maincontents .main4,
.wrapper .maincontents .main5 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .maincontents .main2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .maincontents .main2 .applybtn {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
}
.wrapper .maincontents .main2 .applybtn a {
  text-decoration: none;
}
.wrapper .maincontents .main2 .applybtn .button {
  text-align: center;
  height: 48px;
  width: 120px;
  padding-top: 12px;
  transition: transform 0.3s, background 0.3s, color 0.3s;
  color: #0a0a0a;
  /* background: linear-gradient(180deg, #3498db, #a3d9ee); */
  background: linear-gradient(to bottom, #00c1fe 5%, #faf7f7);
  margin-right: 1rem;
  position: relative;
  box-shadow: 2px 2px 1px 0px;
  border-radius: 10%;
}
.wrapper .maincontents .main2 .applybtn .hovered {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    background: linear-gradient(to bottom, #00c1fe, #faf7f7);
  }
  25% {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #0061ff 50%, #cccccc);
    color: whitesmoke;
  }
  50% {
    transform: scale(1);
    background: linear-gradient(to bottom, #00c1fe, #faf7f7);
  }
  75% {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #0061ff, #cccccc);
    color: whitesmoke;
  }
  100% {
    transform: scale(1);
    background: linear-gradient(to bottom, #00c1fe, #faf7f7);
  }
}
.wrapper .maincontents .main1 #th, .wrapper .maincontents .main2 #th, .wrapper .maincontents .main3 #th, .wrapper .maincontents .main4 #th, .wrapper .maincontents .main5 #th {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  background: #c8d5d9;
  border-bottom: solid 1px white;
}
.wrapper .maincontents .main1 .td1, .wrapper .maincontents .main2 .td1, .wrapper .maincontents .main3 .td1, .wrapper .maincontents .main4 .td1, .wrapper .maincontents .main5 .td1 {
  width: 15%;
  text-align: center;
}
.wrapper .maincontents .main1 .td2, .wrapper .maincontents .main2 .td2, .wrapper .maincontents .main3 .td2, .wrapper .maincontents .main4 .td2, .wrapper .maincontents .main5 .td2 {
  padding-left: 4vw;
}
.wrapper .maincontents .main1 .box1 #csvTable1, .wrapper .maincontents .main1 .box2 #csvTable2,
.wrapper .maincontents .main1 .box3 #csvTable3, .wrapper .maincontents .main1 .box4 #csvTable4,
.wrapper .maincontents .main1 .box5 #csvTable5, .wrapper .maincontents .main2 .box1 #csvTable1, .wrapper .maincontents .main2 .box2 #csvTable2,
.wrapper .maincontents .main2 .box3 #csvTable3, .wrapper .maincontents .main2 .box4 #csvTable4,
.wrapper .maincontents .main2 .box5 #csvTable5, .wrapper .maincontents .main3 .box1 #csvTable1, .wrapper .maincontents .main3 .box2 #csvTable2,
.wrapper .maincontents .main3 .box3 #csvTable3, .wrapper .maincontents .main3 .box4 #csvTable4,
.wrapper .maincontents .main3 .box5 #csvTable5, .wrapper .maincontents .main4 .box1 #csvTable1, .wrapper .maincontents .main4 .box2 #csvTable2,
.wrapper .maincontents .main4 .box3 #csvTable3, .wrapper .maincontents .main4 .box4 #csvTable4,
.wrapper .maincontents .main4 .box5 #csvTable5, .wrapper .maincontents .main5 .box1 #csvTable1, .wrapper .maincontents .main5 .box2 #csvTable2,
.wrapper .maincontents .main5 .box3 #csvTable3, .wrapper .maincontents .main5 .box4 #csvTable4,
.wrapper .maincontents .main5 .box5 #csvTable5 {
  width: 100%;
  border-collapse: collapse;
  /* セルの境界線を非表示 */
}
.wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main1 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main1 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main2 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main2 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main3 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main3 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main4 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main4 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(1), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(1), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(1),
.wrapper .maincontents .main5 .box3 #csvTable3 td:nth-child(1), .wrapper .maincontents .main5 .box4 #csvTable4 td:nth-child(1),
.wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(1) {
  border-right: 1px solid white; /* テーブル内の縦線 */
  text-align: center;
  width: 10vw;
}
.wrapper .maincontents .main1 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main1 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main1 .box3 #csvTable4 td:nth-child(2), .wrapper .maincontents .main1 .box3 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main1 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main2 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main2 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main2 .box3 #csvTable4 td:nth-child(2), .wrapper .maincontents .main2 .box3 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main2 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main3 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main3 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main3 .box3 #csvTable4 td:nth-child(2), .wrapper .maincontents .main3 .box3 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main3 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main4 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main4 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main4 .box3 #csvTable4 td:nth-child(2), .wrapper .maincontents .main4 .box3 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main4 .box5 #csvTable5 td:nth-child(2), .wrapper .maincontents .main5 .box1 #csvTable1 td:nth-child(2), .wrapper .maincontents .main5 .box2 #csvTable2 td:nth-child(2),
.wrapper .maincontents .main5 .box3 #csvTable4 td:nth-child(2), .wrapper .maincontents .main5 .box3 #csvTable4 td:nth-child(2),
.wrapper .maincontents .main5 .box5 #csvTable5 td:nth-child(2) {
  padding-left: 3vw;
}

footer .content {
  height: 7vh;
  background-color: #459BDB;
  position: relative;
}
footer .content #items {
  padding-left: 15vw;
  padding-right: 15vw;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
footer .content #items p {
  padding-top: 1vh;
}
footer .content #items img.btmlogo {
  height: 64px;
  width: 100px;
}
footer .content #items img #pmark {
  padding-top: 4px;
}
footer .content #kanri {
  position: absolute;
  bottom: 16px;
  right: 8px;
  color: white;
}
footer p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */