@media screen and (max-width:767px){
    h2 {
        font-size: 1em;
    }
    .wrapper {
        padding: unset;
        header {
            height: 5vh;
            justify-content: space-around;
            h1 {
            font-size: 16px;
            padding-top: 2vh;
            }
            #toplogo {
                height: 50px;
                width: 100px;
            }
            a img {
                height: 50px;
                width: 75px;
                padding-top: unset;
            }
        }
        .maincontents h2 {
            border-bottom: 2px solid;
            margin-top: 20px;
            margin-bottom: auto;
        }
        td, #td1, #td2 {
            font-size: 0.8em;
        }
    }
    footer {
        .content {
            height: unset;
            #items {
                padding-left: 1vw;
                padding-right: 1vw;
                justify-content: space-between;
                img.btmlogo {
                    height: 40px;
                    width: 72px;
                    }
                
                p {
                    font-size: 0.6em;
                    padding-top: 2vh;
                }}
            #kanri {
                display: none;
            }
        }
        p {
            font-size: 0.6em;
        }
    }
}