// タブレットサイズ
@media screen and (max-width:776px){
	h2 {
			font-size: 1.15em;
	}

	header {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		border-bottom: none;
		padding-left: 5vw;
		padding-right: 5vw;
		
		.logos {
			position: relative;
			// flex-wrap: wrap;
			// text-align: center;
			// justify-content: space-around;
			padding-bottom: 40px;
			#hpname {
					font-size: 1.5em;
					padding-top: 2vh;
					text-align: center;
				}
				
				
				#toplogo {
					display: block;
					position: relative;
					margin: 0 auto;
					height: 64px;
					width: 100px;
				}
			
				#home {
					padding-top: 3vh;
					i.las.la-home {
						font-size: 1.25em;
					}
				}
		}

		.menu_bar {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
  		grid-gap: 16px; /* グリッドアイテム間の間隔を調整 */
			// flex-direction: column;
			justify-content: space-around;
			flex-wrap: wrap;
			margin: 0px auto;
			#main1 {
				display: none;
			}
			li {
				font-size: 1.25em;
			}
			button.scroll-button {
				background-color: transparent;
				position: relative;
				border-bottom: 3px solid transparent;
				color: black;
				margin-bottom: 1.5em;
				// transition: 0.5s;
				// &:hover {
				// 	border-bottom: 3px solid #00c1fe;
				// }
				&:nth-child(1){
					display: none;
				}
			}
		}
		
		
	}
	.wrapper {
		padding-right: 8vw;		
		padding-left: 8vw;		
		.maincontents{ 
			h2 {
				border-bottom: 5px double #459BDB;
				margin-top: 24px;
				margin-bottom: 12px;
				width: 128px;
			}
			.main1, .main2, .main3, .main4, .main5 {
				#th, .td1, .td2, tr{
					font-size: 1em;
				}
				
				.td1 {
					width: 100px;
					line-height: 28px;
				}
				.td2 {
					line-height: 28px;
					padding-left: 3vh;
				}
				.box1 #csvTable1 td:nth-child(1), .box2 #csvTable2 td:nth-child(1),
				.box3 #csvTable3 td:nth-child(1), .box4 #csvTable4 td:nth-child(1),
				.box5 #csvTable5 td:nth-child(1) {
					line-height: 60px;
					width: 100px;
				}
				.box1 #csvTable1 td:nth-child(2), .box2 #csvTable2 td:nth-child(2),
				.box3 #csvTable3 td:nth-child(2), .box4 #csvTable4 td:nth-child(2),
				.box5 #csvTable5 td:nth-child(2) {
					text-align: start;
					vertical-align: middle;
					white-space: normal;
				}
			}
			.main1, .main2, .main5 {
				.box1, .box2, .box5 {
					width: 100%;
					max-height: 629px;
					scrollbar-width: none;
					&::-webkit-scrollbar {
						width: 0;
					}
					&::-webkit-scrollbar-thumb {
						background: transparent;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
				}
			}
			.main3, .main4 {
				.box3, .box4 {
					width: 100%;
					max-height: 329px;
					scrollbar-width: none;
					&::-webkit-scrollbar {
						width: 0;
					}
					&::-webkit-scrollbar-thumb {
						background: transparent;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
				}
			}
		
			.main2 {
				.applybtn {
					justify-content: space-around;
					flex-direction: column;
					margin: 16px auto;
					.button {
						margin: 0 auto;
						margin-bottom: 1.5em;
					}
					span#caution{
						text-align: center;
						position: unset;
					}
				}

			}
		}
	}
	footer {
			.content {
					height: unset;
					#items {
							padding-left: 1vw;
							padding-right: 1vw;
							justify-content: space-around;
							img.btmlogo {
									height: 56px;
									width: 76px;
									padding-top: 12px;
									}
							
							p {
									font-size: 0.8em;
									padding-top: 16px;
							}
							img#pmark {
								padding-top: 6px;
							}
						}
					#kanri {
							display: none;
					}
			}
			p {
					font-size: 0.6em;
			}
	}
}


// ケータイサイズ
@media screen and (max-width:515px){
    h2 {
        font-size: 1.15em;
    }

	header {
		border-bottom: none;
		padding-left: 5vw;
		padding-right: 5vw;
		
		.logos {
			flex-wrap: wrap;
			text-align: center;
			justify-content: space-around;
			padding-bottom: 48px;
			h1 {
					font-size: 1.5em;
					padding-top: 2vh;
					// 要素を下に移動
					order: 3;
				}
				#toplogo {
					height: 64px;
					width: 100px;
				}
				#home {
					padding-top: 3vh;
					i.las.la-home {
						font-size: 1.25em;
					}
				}
		}
			
		.menu_bar {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px; /* グリッドアイテム間の間隔を調整 */
			// flex-direction: column;
			justify-content: space-around;
			flex-wrap: wrap;
			margin: 0px auto;
			#main1 {
				display: none;
			}
			li {
				font-size: 1.25em;
			}
			button.scroll-button {
				background-color: transparent;
				position: relative;
				border-bottom: 3px solid transparent;
				color: black;
				margin-bottom: 1.5em;
				// transition: 0.5s;
				// &:hover {
				// 	border-bottom: 3px solid #00c1fe;
				// }
				&:nth-child(1){
					display: none;
				}
			}
		}
		
		
	}
	.wrapper {
		padding-right: 8vw;		
		padding-left: 8vw;		
		.maincontents{ 
			h2 {
				border-bottom: 5px double #459BDB;
				margin-top: 24px;
				margin-bottom: 12px;
				width: 128px;
			}
			.main1, .main2, .main3, .main4, .main5 {
				#th, .td1, .td2, tr{
					font-size: 1em;
				}
				
				.td1 {
					width: 60px;
					line-height: 28px;
				}
				.td2 {
					line-height: 28px;
					padding-left: 3vh;
				}
				.box1 #csvTable1 td:nth-child(1), .box2 #csvTable2 td:nth-child(1),
				.box3 #csvTable3 td:nth-child(1), .box4 #csvTable4 td:nth-child(1),
				.box5 #csvTable5 td:nth-child(1) {
					line-height: 60px;
					width: 60px;
				}
				.box1 #csvTable1 td:nth-child(2), .box2 #csvTable2 td:nth-child(2),
				.box3 #csvTable3 td:nth-child(2), .box4 #csvTable4 td:nth-child(2),
				.box5 #csvTable5 td:nth-child(2) {
					text-align: start;
					vertical-align: middle;
					white-space: normal;
				}
			}
			.main1, .main2, .main5 {
				.box1, .box2, .box5 {
					width: 100%;
					max-height: 629px;
					scrollbar-width: none;
					&::-webkit-scrollbar {
						width: 0;
					}
					&::-webkit-scrollbar-thumb {
						background: transparent;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
				}
			}
			.main3, .main4 {
				.box3, .box4 {
					width: 100%;
					max-height: 329px;
					scrollbar-width: none;
					&::-webkit-scrollbar {
						width: 0;
					}
					&::-webkit-scrollbar-thumb {
						background: transparent;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
				}
			}
		
			.main2 {
				.applybtn {
					justify-content: space-around;
					flex-direction: column;
					margin: 16px auto;
					.button {
						margin: 0 auto;
						margin-bottom: 1.5em;
					}
				}
			}
		}
    }
    footer {
        .content {
            height: unset;
            #items {
                padding-left: 1vw;
                padding-right: 1vw;
                justify-content: space-around;
					img.btmlogo {
						height: 56px;
						width: 72px;
						padding-top: 12px;
						}
					
					p {
						font-size: 0.6em;
						padding-top: 20px;
					}
					img#pmark {
						padding-top: 5px;
					}
				}
            #kanri {
                display: none;
            }
        }
        p {
            font-size: 0.6em;
        }
    }
}
