* {
	font-family: 'Inter', sans-serif;
}

h2 {
	font-size: 22px;
}

footer p {
	font-size: 16px;
}


.wrapper {
	padding-right: 15vw;
	padding-left: 15vw;
	position: relative;

	header {
		background-color: transparent;
		// display: flex;
		height: 12vh;
		padding-top: 10px;
		transform: translateY(0deg);
		position: relative;

		h1 {
			font-size: 2em;
			font-weight: bold;
			// padding-top: 5vh;
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}

		.logos {
			display: flex;
			justify-content: space-between;

			#toplogo {
				height: 100px;
				width: 150px;
				// animation-name: rotateY;
				// animation-duration: 3s;
				// animation-delay: 2s;
				// animation-timing-function: linear;
				// animation-fill-mode: none;
				// animation-iteration-count: infinite;
				// animation-direction: normal;
				// animation: rotateY none 3s infinite linear 2s normal;

				// @keyframes rotateY {
				// 	0% {
				// 		transform: rotateY(0deg);
				// 	}

				// 	50% {
				// 		transform: rotateY(180deg);
				// 	}

				// 	100% {
				// 		transform: rotateY(360deg);
				// 	}
				// }
			}

			.headerB {
				display: flex;
				position: absolute;
				top: 8vh;
				right: 0vh;

				// transform: translate(812px, 46px);
				#kanri,
				#logo {
					display: flex;

					#logo {
						height: 50px;
						width: 50px;
					}

					p {
						font-weight: 24px;
					}

					// font-weight: normal;
					// font-size: 24px;
					// margin-right: 20px;
				}

				// i.fa-solid.fa-gear {
				// 	margin-right: 20px;
				// }
			}
		}


	}



	.maincontents {
		display: flex;
		flex-direction: column;
		// text-align: center;

		// input[type="checkbox"] {
		// 	all: revert;
		// }

		h2 {
			border-bottom: 4px solid;
			display: inline-block;
			width: fit-content;
			margin: 1em auto;
		}

		// .box {
		// 	height: fit-content;
		// 	padding-top: 1em;
		// 	padding-bottom: 1em;
		// 	width: auto;
		// 	background: #deebff85;
		// }
		.main1,
		.main2,
		.main3,
		.main4,
		.main5 {
			position: relative;

			// #dlbtn {
			// 	cursor: pointer;
			// 	position: absolute;
			// }
			.box1,
			.box2,
			.box5 {
				background: #deebff 50%;
				margin-top: 10px;
				// margin-left: 20vw;
				// margin-right: 20vw;
				height: 264px;
				overflow-y: scroll;
				// border: solid;
				// padding-top: 1em;
			}

			.box3,
			.box4 {
				background: #deebff 50%;
				// margin-left: 20vw;
				// margin-right: 20vw;
				margin-top: 10px;
				height: 144px;
				overflow-y: scroll;
				// border: solid;
			}
		}

		.main1,
		.main3,
		.main4,
		.main5 {
			display: flex;
			flex-direction: column;
			position: relative;
		}

		.main2 {
			display: flex;
			flex-direction: column;
			position: relative;

			.applybtn {
				margin-top: 1rem;
				display: flex;
				margin-bottom: 1rem;
				text-align: center;

				a {
					text-decoration: none;
				}

				.button {
					text-align: center;
					height: 48px;
					width: 120px;
					// width: 100px;
					// height: 40px;
					padding-top: 12px;
					transition: transform 0.3s, background 0.3s, color 0.3s;
					color: #0a0a0a;
					/* background: linear-gradient(180deg, #3498db, #a3d9ee); */
					background: linear-gradient(to bottom, #00c1fe 5%, #faf7f7);
					margin-right: 1rem;
					position: relative;
					box-shadow: 2px 2px 1px 0px;
					border-radius: 10%;
				}

				.hovered {
					animation: pulse 2s infinite;
				}

				@keyframes pulse {
					0% {
						transform: scale(1);
						background: linear-gradient(to bottom, #00c1fe, #faf7f7);
					}

					25% {
						transform: scale(1.1);
						background: linear-gradient(to bottom, #0061ff 50%, #cccccc);
						color: whitesmoke;
					}

					50% {
						transform: scale(1);
						background: linear-gradient(to bottom, #00c1fe, #faf7f7);
					}

					75% {
						transform: scale(1.1);
						background: linear-gradient(to bottom, #0061ff, #cccccc);
						color: whitesmoke;
					}

					100% {
						transform: scale(1);
						background: linear-gradient(to bottom, #00c1fe, #faf7f7);
					}
				}
			}
		}

		.main3 {
			.box {
				display: flex;
				justify-content: start;
				padding-left: 1em;
			}
		}

		.main1 {
			#th {
				height: 3vh;
				width: 100%;
				background: lightblue;
				margin-bottom: -10px;
				border-bottom: solid 1px;
				display: flex;
				.td1 {
					width: 8vw;
					border-right: 1px solid;
					text-align: center;
				}
				.td2 {
					padding-left: 4vw;
				}
			}
		}

		// #csvTable1 th:nth-child(1) {
		// 	padding-left: 1.5vw;
		// 	position: relative;
		// 	width: 5vw;

		// 	// border-bottom: 1px solid;
		// 	&::after {
		// 		content: "";
		// 		display: inline-block;
		// 		width: 0.5px;
		// 		height: 150%;
		// 		background-color: black;
		// 		position: absolute;
		// 		top: -2px;
		// 		right: 1px;
		// 	}
		// }
	}
	// #csvTable1 th:nth-child(2) {
	// 	padding-left: 1.5vw;
	// 	padding-right: 1.5vw;
	// 	border-bottom: 1px solid;
	// }

	// #csvTable1 th:nth-child(3) {
	// 	padding-left: 1vw;
	// }

	#csvTable1 td:nth-child(1) {
		// padding-left: 2.9vw;
		// padding-right: 2.9vw;
		text-align: center;
		width: 8vw;
		position: relative;
		border-right: solid 1px;
	}

	#csvTable1 td:nth-child(2) {
		padding-left: 3vw;
		width: 100%;
	}

	// #csvTable1 td:nth-child(3) {
	// 	border-bottom: 1px black solid;
	// }
}


.main2 {
	#csvTable2 th:nth-child(1) {
		padding-left: 1.5vw;
		position: relative;
		width: 5vw;

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 150%;
			background-color: black;
			position: absolute;
			top: -2px;
			right: 1px;
		}
	}

	#csvTable2 th:nth-child(2) {
		padding-left: 5vw;
	}

	#csvTable2 td:nth-child(1) {
		padding-left: 2vw;
		position: relative;
		width: 50px;

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 150%;
			background-color: black;
			position: absolute;
			top: -2px;
			right: 1px;
		}
	}

	#csvTable2 td:nth-child(2) {
		padding-left: 3vw;
	}
}

.main3 {
	#csvTable3 th:nth-child(1) {
		padding-left: 1.5vw;
		position: relative;
		width: 5vw;

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 150%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable3 th:nth-child(2) {
		padding-left: 5vw;
	}

	#csvTable3 td:nth-child(1) {
		/* margin-top: 20px;
					width: 80vw; */
		padding-left: 2vw;
		position: relative;
		width: 50px;
		/* border-right: solid 1px; */

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 200%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable3 td:nth-child(2) {
		padding-left: 3vw;
	}
}

.main4 {
	#csvTable4 th:nth-child(1) {
		padding-left: 1.5vw;
		position: relative;
		width: 5vw;

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 150%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable4 th:nth-child(2) {
		padding-left: 5vw;
	}

	#csvTable4 td:nth-child(1) {
		/* margin-top: 20px;
					width: 80vw; */
		padding-left: 2vw;
		position: relative;
		width: 50px;

		/* border-right: solid 1px; */
		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 500%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable4 td:nth-child(2) {
		padding-left: 3vw;
	}
}

.main5 {
	#csvTable5 th:nth-child(1) {
		padding-left: 1.5vw;
		position: relative;
		width: 5vw;

		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 150%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable5 th:nth-child(2) {
		padding-left: 5vw;
	}

	#csvTable5 td:nth-child(1) {
		/* margin-top: 20px;
					width: 80vw; */
		padding-left: 2vw;
		position: relative;
		width: 50px;

		/* border-right: solid 1px; */
		&::after {
			content: "";
			display: inline-block;
			width: 0.5px;
			height: 100%;
			background-color: black;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	#csvTable5 td:nth-child(2) {
		padding-left: 3vw;
	}
}



footer {
	.content {
		// height: 10vh;
		background-color: #459BDB;

		#items {
			padding-left: 15vw;
			padding-right: 15vw;
			color: #ffff;
			display: flex;
			justify-content: space-between;
			margin-top: 1rem;

			p {
				padding-top: 1vh;
			}

			img.btmlogo {
				height: 64px;
				width: 100px;
			}

			a#pmark {
				height: 56px;
				width: 56px;
				padding-top: 4px;
			}
		}
	}

	p {
		text-align: center;
	}
}


// jqueryuiのやーつ
// .test {
// 	width: 100px;
// 	color: darkblue;
// 	text-align: center;
// 	cursor: pointer;
// 	background-color: yellow;
// }